* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --white-color: #fff;
  --blue-color: #08a081;
  --grey-color: #707070;
  --grey-color-light: #aaa;
  --primary-color:#08a081
}
body {
  background-color: #e7f2fd;
  transition: all 0.5s ease;
}
body.dark {
  background-color: #333;
}
body.dark {
  --white-color: #333;
  --blue-color: #fff;
  --grey-color: #f2f2f2;
  --grey-color-light: #aaa;
}
/* navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
  padding: 15px 3px;
  z-index: 1000;
  box-shadow: 0 0 2px var(--grey-color-light);
}
.logo_item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 22px;
  font-weight: 500;
  color: var(--blue-color);
}
.navbar img {
  width: 100%;
  height: 35px;
}

/* sidebar */
.sidebar {
  background-color: var(--white-color);
  width: 160px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 80px 10px;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 1px var(--grey-color-light);
  transition: all 0.5s ease;
}
#sidebarOpen {
  display: none;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.menu_content {
  position: relative;
}
.menu_title {
  margin: 15px 0;
  /* padding: 0 20px; */
  font-size: 18px;
}
.sidebar.close .menu_title {
  padding: 6px 30px;
}
.menu_title::before {
  color: var(--grey-color);
  white-space: nowrap;
}
.menu_dahsboard::before {
  content: "Dashboard";
}
.menu_editor::before {
  content: "Editor";
}
.menu_setting::before {
  content: "Setting";
}

.menu_items {
  padding: 0;
  list-style: none;
}
.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 8px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--grey-color);
  white-space: nowrap;
}
.sidebar.close .navlink {
  display: none;
}
.nav_link:hover {
  color: var(--white-color);
  background: var(--blue-color);
}
.sidebar.close .nav_link:hover {
  background: var(--white-color);
}

.content-wrapper {
  margin-top: 90px;
  margin-left: 180px;
  margin-right: 20px;
}
.content {
  width: 100%;
  padding: 25px;
  background-color: transparent;
  box-shadow: 0 0 2px var(--grey-color-light);
}
.form {
  width: 100%;
  display: flex;
}
.search {
  width: 70%;
}
.sorting {
  text-align: end;
  width: 30%;
}
.input-form {
  width: 60%;
  padding: 4px 4px;
  margin: 8px 0;
  box-sizing: border-box;
}
.btn {
  margin: 8px ;
  padding: 8px 15px;
  color :var(--white-color);
  border-radius: 10px;
  border: 0;

}
.btn-primary{
  background-color: var(--primary-color);
}
.card {
  background-color: var(--white-color);
  margin: 25px 0px;
  width: 100%;
}
.card-header{
  padding: 25px;
  display: flex;
  box-shadow: 0 0 4px var(--grey-color-light);
}
.card-title{
  width: 50%;
}
.createdAt{
  text-align: end;
  margin-right: 10px;
}
.orderId{
  text-align: start;
  margin-left: 10px;
}
.card-body{
  width: 100%;
  box-shadow: 0 0 2px var(--grey-color-light);
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}
.body-akun{
  width: 50%;
}
.paket-harga{
  width: 50%;
  border-left: #333 solid 2px;
  display: flex;
  padding: 40px 10px 20px 10px;

}
.body-paket{
  width: 50%;
}
.body-price{
  width: 50%;
}
.pagination{
  text-align: end;
}
@media screen and (max-width: 768px) {
  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: var(--grey-color);
  }
  /* .sidebar-hidden{
    left: -100%;
  } */
    
  .sidebar {
    /* left: -100%; */
  }
  .content-wrapper {
    margin-top: 90px;
    margin-left: 20px;
    margin-right: 20px;
  }

}
